# Official Statistics Packages

![logo](img/logos.svg)

*v.0.1 05/05/2022*

<!--NAVIGATION-->
<span style='background: rgb(128, 128, 128, .15); width: 100%; display: block; padding: 10px 0 10px 10px'>| [Welcome](00.00-Welcome.ipynb) ></span>

<a href="https://colab.research.google.com/github/eurostat/e-learning/blob/main/python-official-statistics/07.01-OfS-Packages.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

## Table of Contents

### [Awesome official statistics software](#awesome)
### [PandaSDMX](#pandasdmx)
### [pandas-datareader](#pandas-datareader)
### [eurostatapiclient](#eurostatapiclient)
### [eurostat](#eurostat)
### [Direct Pandas from REST API](#rest-direct)
### [pjstat](#pjstat)
### [SDMX (sdmx1)](#sdmx)
### [R/Python Other Packages](#matyas-r)

<a id='matyas-r'></a>


## Matyas R Packages


https://github.com/eurostat/restatapi  

https://github.com/eurostat/pyrostat  

https://sdmx1.readthedocs.io/en/latest/  

https://github.com/opensdmx/rsdmx  

RJSDMX

https://github.com/sdcTools/  

https://github.com/rOpenGov/giscoR  

https://github.com/eurostat/oja_hhi  
(maybe an example advertising on Eurostat)

<a id='awesome'></a>


## Awesome official statistics software
### Scraping for Statistics
- [Social-Media-Presence](https://github.com/jmaslankowski/WP2-Social-Media-Presence) - 
A script for detecting social media presence on enterprises websites, by Statistics Poland.  
- [Sustainability Reporting](https://github.com/AlessandraSozzi/MSc-dissertation) - 
A script for measuring sustainability reporting from enterprises websites, by ONS.
- [urlfinding](https://github.com/SNStatComp/urlfinding) 
Software for finding websites of enterprises using a search engine and machine learning, 
by [Statistics Netherlands](https://github.com/SNStatComp/www.cbs.nl).
### Access to official statistics
- [SDMX](https://sdmx1.readthedocs.io/en/latest/) - Python library that implements SDMX 2.1 to explore data from SDMX data providers, parse data and metadata and convert it into Pandas objects.
- [pyjstat](https://pypi.org/project/pyjstat/) - Read and write JSON-stat.
- [cbsodata](https://github.com/J535D165/cbsodata) - Access to Statistics Netherlands' ([CBS](http://www.cbs.nl/)) open data API from Python.
- [pyscbwrapper](https://github.com/kirajcg/pyscbwrapper) - Access to the open data API of the Swedish Statistical Institute

<a id='pandasdmx'></a>

## PandaSDMX
pandaSDMX is an Apache 2.0-licensed Python library that implements SDMX 2.1 (ISO 17369:2013), a format for exchange of statistical data and metadata used by national statistical agencies, central banks, and international organisations.  

### Data sources  
    ABS: Australian Bureau of Statistics  
    ABS_XML: Australian Bureau of Statistics - XML-based API  
    BBK: Bundesbank (German Central Bank)  
    BIS: Bank for International Settlements  
    ECB: European Central Bank  
    ESTAT: Eurostat  
    ILO: International Labour Organization  
    IMF: International Monetary Fund’s “SDMX Central” source  
    INEGI: National Institute of Statistics and Geography (Mexico)  
    INSEE: National Institute of Statistics and Economic Studies (France)  
    ISTAT: National Institute of Statistics (Italy)  
    LSD: National Institute of Statistics (Lithuania)  
    NB: Norges Bank (Norway)  
    NBB: National Bank of Belgium  
    OECD: Organisation for Economic Cooperation and Development  
    SGR: SDMX Global Registry  
    SPC: Pacific Data Hub  
    STAT_EE: Statistics Estonia  
    UNSD: United Nations Statistics Division  
    UNICEF: UN International Children’s Emergency Fund  
    CD2030: Countdown 2030  
    WB: World Bank Group’s “World Integrated Trade Solution”  
    WB_WDI: World Bank Group’s “World Development Indicators”  

Published by: github user dr-leo  
Last version: Feb 23, 2022

Python install:  
``
pip install pandasdmx
``  

Conda install:  
``
conda install pandasdmx -c conda-forge
``  

- Docs: https://pandasdmx.readthedocs.io
- github: https://github.com/dr-leo/pandaSDMX
- PyPI: https://pypi.org/project/pandaSDMX

More info about [Eurostat SDMX REST API](https://ec.europa.eu/eurostat/web/sdmx-web-services/rest-sdmx-2.1)

In [3]:
import pandasdmx
print('version', pandasdmx.__version__)
# Create request
estat = pandasdmx.Request('ESTAT')
# Download the metadata
metadata = estat.datastructure('DSD_une_rt_a')
metadata

version 1.9.0

<pandasdmx.StructureMessage>
  <Header>
    id: 'IDREF94937'
    prepared: '2022-05-06T12:42:17.926000+00:00'
    receiver: <Agency Unknown>
    sender: <Agency Unknown>
    source:
    test: False
  response: <Response [200]>
  Codelist (7): CL_AGE CL_FREQ CL_GEO CL_OBS_FLAG CL_OBS_STATUS CL_SEX ...
  ConceptScheme (1): CS_DSD_une_rt_a
  DataStructureDefinition (1): DSD_une_rt_a

In [7]:
# Explore the contents of some code lists
for cl in 'CL_AGE', 'CL_UNIT':
    print(pandasdmx.to_pandas(metadata.codelist[cl]))

# Download a dataset
resp = estat.data('une_rt_a', key={'GEO': 'EL+ES+IE'}, params={'startPeriod': '2007'})
# We use its to_pandas() method to convert it to a pandas.DataFrame
data = resp.to_pandas(datetime={'dim': 'TIME_PERIOD', 'freq': 'FREQ'}).xs('Y15-74', level='AGE', axis=1, drop_level=False)
data.sample(5)

                       name  parent
CL_AGE
Y15-24  From 15 to 24 years  CL_AGE
Y15-74  From 15 to 74 years  CL_AGE
Y20-64  From 20 to 64 years  CL_AGE
Y25-54  From 25 to 54 years  CL_AGE
Y25-74  From 25 to 74 years  CL_AGE
Y55-74  From 55 to 74 years  CL_AGE
                                                 name   parent
CL_UNIT
THS_PER                              Thousand persons  CL_UNIT
PC_POP                 Percentage of total population  CL_UNIT
PC_ACT   Percentage of population in the labour force  CL_UNIT

2022-05-06 14:48:41,753 pandasdmx.reader.sdmxml - INFO: Use supplied dsd=… argument for non–structure-specific message

AGE         Y15-74                                                         \
UNIT        PC_ACT                                                 PC_POP
SEX              F                 M                 T                  F
GEO             EL    ES    IE    EL    ES    IE    EL    ES    IE     EL
TIME_PERIOD
2014          30.4  25.4  10.9  23.7  23.6  12.7  26.6  24.5  11.9   15.4
2017          26.4  19.0   6.3  18.2  15.7   7.1  21.8  17.2   6.7   13.7
2015          29.0  23.6   8.9  21.8  20.8  10.8  25.0  22.1   9.9   14.9
2007           NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN
2011          21.8  21.8  12.5  15.3  21.1  17.8  18.1  21.4  15.4   10.8

AGE          ...                                                             \
UNIT         ...       THS_PER
SEX          ...     T       F                     M                      T
GEO          ...    IE      EL      ES     IE     EL      ES     IE      EL
TIME_PERIOD  ...
2014         ...   7.8   639.0  2694.0  111.0  638.0  2916.0  156.0  1277.0
2017         ...   4.5   558.0  2011.0   68.0  484.0  1906.0   90.0  1043.0
2015         ...   6.6   615.0  2497.0   91.0  582.0  2559.0  134.0  1198.0
2007         ...   NaN     NaN     NaN    NaN    NaN     NaN    NaN     NaN
2011         ...  10.2   458.0  2307.0  126.0  432.0  2706.0  217.0   890.0

AGE
UNIT
SEX
GEO              ES     IE
TIME_PERIOD
2014         5610.0  267.0
2017         3917.0  158.0
2015         5056.0  225.0
2007            NaN    NaN
2011         5013.0  343.0

[5 rows x 27 columns]

<a id='pandas-datareader'></a>

## pandas-datareader
Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:
``
    Tiingo, 
    IEX, 
    Alpha Vantage, 
    Econdb, 
    Enigma, 
    Quandl, 
    FRED, 
    Fama/French, 
    World Bank, 
    OECD, 
    Eurostat, 
    Thrift Savings Plan (TSP) Fund Data, 
    Nasdaq Trader Symbol Definitions, 
    Stooq Index Data, 
    MOEX Data, 
    Naver Finance Data, 
    Yahoo Finance Data
``  
Published by the group: Python for Data.  
Last version: July 13, 2021

Python install:  
``
pip install pandas-datareader
``

- Docs: https://pandas-datareader.readthedocs.io/en/latest/
- github.io: https://pydata.github.io/pandas-datareader/
- github: https://github.com/pydata/pandas-datareader

In [72]:
# using web.DataReader for Eurostat
import pandas_datareader
import pandas_datareader.data as web
print('version', pandas_datareader.__version__)

df = web.DataReader('ttr00002', 'eurostat', start='2008')
df.sample(5)

version 0.10.0

UNIT        Kilometre                                                      \
TRA_INFR    Motorways
GEO           Albania Austria Belgium Bulgaria Switzerland Cyprus Czechia
FREQ           Annual  Annual  Annual   Annual      Annual Annual  Annual
TIME_PERIOD
2012-01-01        NaN  1719.0     NaN    541.0      1419.0  257.0   751.0
2010-01-01        NaN  1719.0  1763.0    437.0      1406.0  257.0   734.0
2018-01-01        NaN  1743.0     NaN    757.0      1462.0  257.0  1252.0
2017-01-01        NaN  1719.0     NaN    734.0      1458.0  257.0  1240.0
2019-01-01        NaN  1743.0     NaN    790.0         NaN  257.0  1276.0

UNIT                                                                  \
TRA_INFR
GEO         Germany (until 1990 former territory of the FRG) Denmark
FREQ                                                  Annual  Annual
TIME_PERIOD
2012-01-01                                           12879.0     NaN
2010-01-01                                           12819.0     NaN
2018-01-01                                           13141.0  1329.0
2017-01-01                                           13009.0  1308.0
2019-01-01                                           13183.0     NaN

UNIT                                               ...                   \
TRA_INFR                                           ... E-roads
GEO         Euro area - 19 countries  (from 2015)  ...  Poland Portugal
FREQ                                       Annual  ...  Annual   Annual
TIME_PERIOD                                        ...
2012-01-01                                    NaN  ...  5500.0   2244.0
2010-01-01                                    NaN  ...  5500.0   2251.0
2018-01-01                                    NaN  ...     NaN   2241.0
2017-01-01                                    NaN  ...  5818.0   2241.0
2019-01-01                                    NaN  ...     NaN   2241.0

UNIT                                                                          \
TRA_INFR
GEO         Romania  Serbia  Sweden Slovenia Slovakia  Turkey United Kingdom
FREQ         Annual  Annual  Annual   Annual   Annual  Annual         Annual
TIME_PERIOD
2012-01-01   6263.0     NaN  6746.0    725.0   1535.1  9361.0            NaN
2010-01-01   6188.0     NaN  6454.0    725.0   1124.0     NaN         3792.0
2018-01-01   6194.0     NaN  6755.0    594.0   1524.0     NaN            NaN
2017-01-01   6200.0  2150.0  6747.0    588.0   1524.0     NaN            NaN
2019-01-01   6176.0     NaN  6728.0    594.0   1529.0     NaN            NaN

UNIT
TRA_INFR
GEO         Kosovo (under United Nations Security Council Resolution 1244/99)
FREQ                                                                   Annual
TIME_PERIOD
2012-01-01                                                 NaN
2010-01-01                                                 NaN
2018-01-01                                               250.0
2017-01-01                                               250.0
2019-01-01                                               250.0

[5 rows x 82 columns]

In [11]:
# using pandas_datareader.eurostat.EurostatReader
import pandas_datareader.eurostat as estat

erd = estat.EurostatReader('ttr00002', start='2008')
df2 = erd.read()
df2.sample(5)

UNIT        Kilometre                                                        \
TRA_INFR    Motorways
GEO           Albania Austria Belgium Bulgaria Switzerland Cyprus   Czechia
FREQ           Annual  Annual  Annual   Annual      Annual Annual    Annual
TIME_PERIOD
2012-01-01        NaN  1719.0     NaN    541.0      1419.0  257.0   751.000
2016-01-01        NaN  1719.0     NaN    734.0      1447.0  257.0  1222.661
2011-01-01        NaN  1719.0     NaN    458.0      1415.0  257.0   745.000
2017-01-01        NaN  1719.0     NaN    734.0      1458.0  257.0  1240.000
2019-01-01        NaN  1743.0     NaN    790.0         NaN  257.0  1276.000

UNIT                                                                  \
TRA_INFR
GEO         Germany (until 1990 former territory of the FRG) Denmark
FREQ                                                  Annual  Annual
TIME_PERIOD
2012-01-01                                           12879.0     NaN
2016-01-01                                           12996.0  1255.0
2011-01-01                                           12845.0     NaN
2017-01-01                                           13009.0  1308.0
2019-01-01                                           13183.0     NaN

UNIT                                               ...                   \
TRA_INFR                                           ... E-roads
GEO         Euro area - 19 countries  (from 2015)  ...  Poland Portugal
FREQ                                       Annual  ...  Annual   Annual
TIME_PERIOD                                        ...
2012-01-01                                    NaN  ...  5500.0   2244.0
2016-01-01                                    NaN  ...  5500.0   2241.0
2011-01-01                                    NaN  ...  5500.0   2250.0
2017-01-01                                    NaN  ...  5818.0   2241.0
2019-01-01                                    NaN  ...     NaN   2241.0

UNIT                                                                          \
TRA_INFR
GEO         Romania  Serbia  Sweden Slovenia Slovakia  Turkey United Kingdom
FREQ         Annual  Annual  Annual   Annual   Annual  Annual         Annual
TIME_PERIOD
2012-01-01   6263.0     NaN  6746.0    725.0   1535.1  9361.0            NaN
2016-01-01   6200.0  2150.0  6745.0    588.0   1521.0  9353.0            NaN
2011-01-01   6188.0     NaN  6453.0    725.0   1535.6     NaN            NaN
2017-01-01   6200.0  2150.0  6747.0    588.0   1524.0     NaN            NaN
2019-01-01   6176.0     NaN  6728.0    594.0   1529.0     NaN            NaN

UNIT
TRA_INFR
GEO         Kosovo (under United Nations Security Council Resolution 1244/99)
FREQ                                                                   Annual
TIME_PERIOD
2012-01-01                                                 NaN
2016-01-01                                                 NaN
2011-01-01                                                 NaN
2017-01-01                                               250.0
2019-01-01                                               250.0

[5 rows x 82 columns]

<a id='eurostatapiclient'></a>

## eurostatapiclient
Use the Eurostat API Client to quickly retrieve json data from Eurostat REST service and convert it to a pandas DataFrame.  
Published by Emmanuel Bavoux (under alias `opus-42` in his personal repository, so not official?)  
Last version: 15 Sep 2021

Python install:  
``
pip install eurostatapiclient
``  

- PyPI: https://pypi.org/project/eurostatapiclient/  
- github: https://github.com/opus-42/eurostat-api-client  
- Eurostat: [reference to web API](https://ec.europa.eu/eurostat/web/json-and-unicode-web-services/about-this-service)

In [73]:
# Ex1: srcCourseEstat\01_Intro_to_Python_for_Data_Science\07-DataAnalysis_part1.ipynb
# also a good example for other pandas complex processing (filtering, pivot table, etc)
from eurostatapiclient import EurostatAPIClient
import eurostatapiclient
print('version', eurostatapiclient.__version__)

client = EurostatAPIClient('v2.1', 'json', 'en')

countries_names = {'AT':'Austria', 'BE':'Belgium', 'BG':'Bulgaria', 'CY': 'Cyprus', 
                   'CZ': 'Czechia', 'DE': 'Germany', 'DK': 'Denmark', 'EE':'Estonia', 
                   'EL': 'Greece', 'ES':'Spain', 'FI':'Finland', 'FR':'France', 
                   'HR':'Croatia', 'HU':'Hungary', 'IE':'Ireland', 'IT':'Italy', 
                   'LT':'Lithuania', 'LU':'Luxembourg', 'LV':'Latvia', 'MT': 'Malta', 
                   'NL':'Netherlands', 'PL':'Poland', 'PT':'Portugal', 'RO':'Romania', 
                   'SE':'Sweden', 'SI':'Slovenia', 'SK':'Slovakia', 'UK':'United Kingdom'}

packaging_types = {'W150101': 'Paper and cardboard packaging',
                   'W150102': 'Plastic packaging',
                   'W150103': 'Wooden packaging',
                   'W150104': 'Metallic packaging',
                   'W150107': 'Glass packaging',
                   'W150199': 'Other packaging'}

par_df = {
    'waste': packaging_types.keys(),
    'unit': ['RT'],
    'geo': ['AT', 'BE', 'DE', 'FR'],    #list(countries_names.keys()),
}

df = client.get_dataset('env_waspacr', params=par_df).to_dataframe()
df.sample(n=5)

version 0.2.7

     values    waste unit geo  time
437    42.1  W150107   RT  FR  1997
522     0.0  W150199   RT  DE  2013
484    25.9  W150199   RT  BE  1998
391    70.1  W150107   RT  BE  1997
14     84.5  W150101   RT  AT  2011

In [5]:
df.rename(columns={'geo': 'country', 'time': 'year'}, inplace=True)
df.drop('unit', axis=1, inplace=True)
df.sample(n=5)

     values    waste country  year
219    56.8  W150103      BE  2009
306    91.0  W150104      BE  2004
197    33.7  W150103      AT  2010
204    19.9  W150103      AT  2017
402   100.0  W150107      BE  2008

<a id='eurostat'></a>

## eurostat
Tools to read data from Eurostat website. Read Eurostat data and metadata as list of tuples or as pandas dataframe.  
Published by Noemi Emanuela Cazzaniga  
Last version: 22 May 2020

Python install:  
``
pip install eurostat
``  

- PyPI: https://pypi.org/project/eurostat/  
- bitbucket: https://bitbucket.org/noemicazzaniga/eurostat/src/master/

The tool is using the [bulk download facility](https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?) via ``pandasdmx``.

In [79]:
# same DB as for pandas-datareader
import eurostat
# print('version', eurostat.__version__)
# eurostat 0.2.3 requires pandasdmx<=0.9, but you have pandasdmx 1.9.0 which is incompatible.

df1 = eurostat.get_data_df('ttr00002')
df1.sample(5)

,tra_infr,unit,geo\time,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
48,RD_EUR,KM,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7218.0
42,RD_EUR,KM,HR,2256.0,2251.0,2238.0,2250.0,2251.0,2200.0,2251.0,2251.0,2251.0,2255.0,2255.0,2255.0
27,MWAY,KM,SE,1857.0,1923.0,1971.0,1957.0,2004.0,2044.0,2088.0,2119.0,2118.0,2132.0,2132.0,2133.0
1,MWAY,KM,BE,1763.0,1763.0,1763.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,MWAY,KM,TR,1922.0,2036.0,2080.0,2119.0,2127.0,2244.0,2278.0,2282.0,2542.0,2657.0,2842.0,3060.0

In [1]:
# taking table_of_contents_en.txt form bulk download DB directly with pandas
import pandas

toc_url = "https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?sort=1&file=table_of_contents_en.txt"
toc_direct = pandas.read_csv(toc_url, sep="\t")
# Remove white spaces at the beginning and end of strings
toc_direct = toc_direct.applymap(lambda x: x.strip() if isinstance(x, str) else x)
toc_direct.sample(5)

,title,code,type,last update of data,last table structure change,data start,data end,values
1757,Decisions withdrawing status granted as final ...,migr_asywitfina,dataset,18.03.2022,18.03.2022,2008,2020,NaN
2087,Consultations,hlth_consult,folder,,,,,NaN
6216,Maritime accident victims by sea basin of occu...,tran_sf_marv,dataset,30.11.2021,30.11.2021,2011,2020,NaN
8187,Distribution of income,t_ilc_di,folder,,,,,NaN
8050,Licensed physicians,tps00167,table,02.07.2021,02.07.2021,2008,2019,NaN

In [4]:
# taking table_of_contents_en.txt form bulk download using eurobase package

toc = eurostat.get_toc_df()
# a subset containing 'exchange in title'
toc_exchange = eurostat.subset_toc_df(toc, "exchange")
toc_exchange.sample(5)

,title,code,type,last update of data,last table structure change,data start,data end
1144,ENP countries: exchange rates and interest rates,enpr_ecexint,dataset,14.01.2020,08.02.2021,2005,2018
1324,Euro/ECU exchange rates - daily data,ert_bil_eur_d,dataset,05.05.2022,05.05.2022,1974M07D01,2022M05D04
1003,Exchange rates,med_ec9,dataset,28.05.2020,08.02.2021,2005,2019
7923,Euro/national currency exchange rates,teimf200,table,30.04.2022,30.04.2022,2021M05,2022M04
56,Effective exchange rates indices - monthly data,ei_mfef_m,dataset,22.04.2022,22.04.2022,1999M01,2022M02

<a id='rest-direct'></a>


## Direct Pandas from REST API

I used the [query builder](https://ec.europa.eu/eurostat/web/json-and-unicode-web-services/getting-started/query-builder) to create a viable query.

Since the API is genuine Eurostat product maybe is the only reliable method?!

In [26]:
import numpy

soap_url = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/'
#----Unemployment Rate---------
dataEU_unempl = pandas.read_json(soap_url + 'ei_lmhr_m?geo=EU27_2020&indic=LM-UN-T-TOT&s_adj=NSA&unit=PC_ACT',
    typ='series',orient='table')
x = []
for i in range(int(sorted(dataEU_unempl['value'].keys())[0]),1+int(sorted(dataEU_unempl['value'].keys(),reverse=True)[0])):
    x = numpy.append(x,dataEU_unempl['value'][str(i)])
EU_unempl = pandas.Series(x,index=pandas.date_range((pandas.to_datetime((sorted(dataEU_unempl['dimension']['time']['category']['index'].keys())[(sorted(int(v) for v in dataEU_unempl['value'].keys())[0])]),format='%YM%M')), periods=len(x), freq='M'))

# #----GDP---------
dataEU_GDP = pandas.read_json(soap_url + 'namq_10_gdp?geo=EA&na_item=B1GQ&s_adj=NSA&unit=CP_MEUR',
    typ='series',orient='table')
x = []
for i in range((sorted(int(v) for v in dataEU_GDP['value'].keys())[0]),1+(sorted((int(v) for v in dataEU_GDP['value'].keys()),reverse=True))[0]):
    x = numpy.append(x,dataEU_GDP['value'][str(i)])
EU_GDP = pandas.Series(x,index=pandas.date_range((pandas.Timestamp(sorted(dataEU_GDP['dimension']['time']['category']['index'].keys())[(sorted(int(v) for v in dataEU_GDP['value'].keys())[0])])), periods=len(x), freq='Q'))

#----Money market interest rates---------
dataEU_intRates = pandas.read_json(soap_url + 'irt_st_m?geo=EA&intrt=MAT_ON',
    typ='series',orient='table')
x = []
for i in range((sorted(int(v) for v in dataEU_intRates['value'].keys())[0]),1+(sorted((int(v) for v in dataEU_intRates['value'].keys()),reverse=True))[0]):
    if str(i) in dataEU_intRates['value'].keys():
        x = numpy.append(x,dataEU_intRates['value'][str(i)])
EU_intRates = pandas.Series(x,index=pandas.date_range((pandas.to_datetime((sorted(dataEU_intRates['dimension']['time']['category']['index'].keys())[(sorted(int(v) for v in dataEU_intRates['value'].keys())[0])]),format='%YM%M')), periods=len(x), freq='M'))

1994-01-31 00:01:00    6.8400
1994-02-28 00:01:00    6.7300
1994-03-31 00:01:00    6.6800
1994-04-30 00:01:00    6.2200
1994-05-31 00:01:00    5.8500
                        ...
2138-12-31 00:01:00   -0.5446
2139-01-31 00:01:00   -0.5273
2139-02-28 00:01:00   -0.4762
2139-03-31 00:01:00   -0.4172
2139-04-30 00:01:00   -0.3109
Freq: M, Length: 1744, dtype: float64

<a id='pjstat'></a>


## pjstat
pyjstat is a python library for JSON-stat formatted data manipulation which allows reading and writing [JSON-stat](https://json-stat.org/). From [Awesome official statistics software](#awesome) list.  
Published by predicador37  
Last version: jan 18, 2022  

Python install:  
``
pip install pyjstat
``  

- Docs: https://pypi.org/project/pyjstat/
- github: https://github.com/predicador37/pyjstat

<a id='sdmx'></a>


## SDMX (sdmx1)
sdmx is a Python library that implements SDMX 2.1, a format for exchange of statistical data and metadata used by national statistical agencies, central banks, and international organisations. Is it a fork from [pandasdmx](#pandasdmx)? From [Awesome official statistics software](#awesome) list.  
Published by khaeru  
Last version: jan 11, 2022  

Python install:  
``
pip install sdmx1
``  

- Docs: https://sdmx1.readthedocs.io
- PyPI: https://pypi.org/project/sdmx1
- github: https://github.com/khaeru/sdmx

<a id='matyas-r'></a>


## R/Python Other Packages


https://github.com/eurostat/restatapi  

https://github.com/eurostat/pyrostat  

https://sdmx1.readthedocs.io/en/latest/  

https://github.com/opensdmx/rsdmx  

RJSDMX

https://github.com/sdcTools/  

https://github.com/rOpenGov/giscoR  

https://github.com/eurostat/oja_hhi  
(maybe an example advertising on Eurostat)


Completely not related: [a course like ours](https://ec.europa.eu/eurostat/cros/content/basics-use-python-official-statistics-%E2%80%93-2nd-edition-2022_en)

<span style='background: rgb(128, 128, 128, .15); width: 100%; display: block; padding: 10px 0 10px 10px'>This is the Jupyter notebook version of the __Python for Official Statistics__ produced by Eurostat; the content is available [on GitHub](https://github.com/eurostat/e-learning/tree/main/python-official-statistics).
<br>The text and code are released under the [EUPL-1.2 license](https://github.com/eurostat/e-learning/blob/main/LICENSE).</span>